.body-logs{
	margin: 0;
	padding: 0;
	margin-top: 15px;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	min-height: 80vh;
	/* background: linear-gradient(to bottom,#FFD7D7,#4E5166); */
}
.main{
	width: 350px;
	height: 500px;
	background: #4E5166;
	overflow: hidden;
	border-radius: 10px;
	box-shadow: 5px 20px 50px #000;
}
#chk{
	display: none;
}
.signup{
	position: relative;
	width:100%;
	height: 100%;
}
.label-logs{
	color: #FD2D01;
	font-size: 2.3em;
	justify-content: center;
	display: flex;
	margin: 60px;
	font-weight: bold;
	cursor: pointer;
	transition: .5s ease-in-out;
}
.input-logs{
	width: 60%;
	height: 20px;
	background: #e0dede;
	justify-content: center;
	display: flex;
	margin: 20px auto;
	padding: 10px;
	border: none;
	outline: none;
	border-radius: 5px;
}
.btn-logs{
	width: 60%;
	height: 40px;
	margin: 10px auto;
	justify-content: center;
	display: block;
	color: #FD2D01;
	background: #FFD7D7;
	font-size: 1em;
	font-weight: bold;
	margin-top: 20px;
	outline: none;
	border: none;
	border-radius: 5px;
	transition: .2s ease-in;
	cursor: pointer;
}
.btn-logs-sign{
	width: 60%;
	height: 40px;
	margin: 10px auto;
	justify-content: center;
	display: block;
	color: #FD2D01;
	background: #FFD7D7;
	font-size: 1em;
	font-weight: bold;
	margin-top: 20px;
	outline: none;
	border: none;
	border-radius: 5px;
	transition: .2s ease-in;
	cursor: pointer;
}
.btn-logs:hover{
    filter: brightness(1.2);
    cursor: pointer;
}
.login{
	height: 460px;
	background: #eee;
	border-radius: 60% / 10%;
	transform: translateY(-180px);
	transition: .8s ease-in-out;
}
.login label{
	color: #FD2D01;
	transform: scale(.6);
}

#chk:checked ~ .login{
	transform: translateY(-500px);
}
#chk:checked ~ .login label{
	transform: scale(1);	
}
#chk:checked ~ .signup label{
	transform: scale(.6);
}

.error-message {
    display: flex;
    background-color: rgb(228, 114, 114);
	padding: 15px;
	font-size: 1.5vh;
	font-weight: bolder;
    justify-content: center;
    margin: 30px;
    font-style: italic;
    border-radius: 30px;
}

@media(max-width:900px) {
	.body-logs{

		min-height: 60vh;
	}
}
