


.nav-auth a {
    display: none;
}
.tittle-nav  {
    display: flex;


}
.tittle-nav {
    padding-left: 10px;
    padding-right: 10px;
}
nav {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    padding-bottom: 15px;
    padding-top: 15px;
    background: #4E5166;
    box-shadow: inset 0px -1px 0px #c5c5c6; 
}

.nav-icon {
display: flex;
align-items: center;
text-decoration: none;
}
.nav-icon span {
    font-family: sans-serif;
    font-size: 25px;
    margin-left: 10px;
    font-weight: bold;
    color: #333;
}

.hamburger {
    display: none;
    margin-right: 10px;
}
.navlinks-container a {
    margin: 0 10px;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    color: #FFD7D7;
    display: inline-block;
    position: relative;
}
.navlinks-container  {
  display: flex;
}

.navlinks-container a:hover {
    transform: scale(1.03);
}
.nav-auth {
    margin-left: auto;
}
.sign-btns button {
    font-size: 16px;
    min-width: 90px;
    padding: 10px 5px;
    margin: 0 5px;
    border-radius: 5px;
    cursor: pointer;
    border: none;
}
.sign-btns button:nth-child(2) {
    border: none;
    background-color: antiquewhite;
}
.user-sign {
    display: none;
}
@media(max-width:900px){
    .barre-de-recherche {
        order: 3;
    }
    nav {
        padding: 15px 0px;
        position: relative;
    }
    .nav-icon {
        order: 2;
    }
    .main-navlinks {
        order: 1;
    }
    .logout {
        order: 3;
    }
    .hamburger {
        width: 20px;
        height: 20px;
        margin-left: 10px;
        margin-top: 20px;
        cursor: pointer;
        border: none;
        display: flex;
        background: #4E5166;
        position: relative;
    }
    .hamburger span {
        display: block;
        width: 100%;
        height: 2px;
        background: #333;
        position: absolute;
        pointer-events: none;
        transition: 0.5s ease-out;
    }
    .hamburger span:nth-child(1) {
        transform: translateY(7px);
    }
    .hamburger span:nth-child(3) {
        transform: translateY(-7px);
    }
    .hamburger.open span:nth-child(1) {
        transform: translate(0) rotate(135deg);
    }
    .hamburger.open span:nth-child(2) {
        opacity: 0;
        transition: 0s ease-out;
    }
    .hamburger.open span:nth-child(3) {
        transform: translate(0) rotate(-135deg);
    }

    .nav-auth {
        order: 3;
    }

    .nav-auth a {
        display: block;
    }
    .navlinks-container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        position: absolute;
        background: #fafafa;
        z-index: 1;
        top: 100%;
        left: 0;
        height: 100vh;
        border-right: 1px solid #c5c5c6;
        padding: 15px 50px 15px 20px;
        transform: translate(-100%);
        transition: 1s ease-in-out;
    }
    .navlinks-container a {
        font-size: 18px;
        margin: 10px 0;
    }
    .open {
        transform: translate(0%);
    }
    .nav-icon span {
        font-size: 22px;
    }
    .sign-btns {
        display: none;
    }
    .user-sign {
        display: block;
        cursor: pointer;
        border: none;
    }

}
@media (max-width:500px) {

    .nav-icon span {
        font-size: 20px;
    }
}

@media(max-width:500px) {
    .tittle-nav {
        display: none;
    }
}
/* *******************************************/
.barre-de-recherche {
    display: flex;
    padding: 10px;
    width: 100%;

}
.input-de-recherche {
    width: 100%;
    padding-bottom: 10px;
    
}
.input-de-recherche {
    float: right;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
  }
  .recherche-a {
    display: flex;
    width: 100%;
  }
  .try-bdr {
    position: absolute;
    top: 90px;
    width: 100%;
    display: flex;
    z-index: 1;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(192, 192, 192);
    border-bottom: solid 2px black;
    opacity: 0.9;
  }
  .img-search {
    width: 50px;
    height: 60px;
    margin-right: 10px;
  }
  .flex {
    display: flex;
    align-items: center;
    border-bottom: solid 2px black;
    padding: 10px;
  }
  .admin {
    color: red;
  }
  .green {
    color: green;
  }